
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  
}

body {
  background-color: #f4f5fd;
  overflow: hidden;
  overflow-y: scroll;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading{
  text-align: center;
  margin: 1rem;
  font-size:2.5rem;
}

.header p{
  width: 27rem;
}